.dynamic-field-container{
    width: 100%;
    margin: 1.2rem 0.8rem;
}

.dynamic-field-container input {
    border: none;
    outline:none;
    transition: 0.4s;
    padding: 0.6rem 0.3rem;
    margin: 0.5rem;
    border-bottom: 2px solid #d3d3d3;
}

.dynamic-field-container input:focus{
    border-bottom: 2px solid var(--blue-color);
}

.dynamic-field-container .bordered{
    border: 2px solid #d3d3d3;
    border-radius: 5px;
}

.dynamic-field-container .bordered:focus{
    border: 2px solid var(--blue-color);
}
